<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Network
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
      <ion-item>

        <div id="container">
          <ion-list *ngFor="let post of posts">
            <!-- <ion-avatar>
              <img src="../../assets/images/marty-mcfly.jpg" alt="avatar image" />
            </ion-avatar> -->

            <ion-row>
              <ion-col size="9">
                <ion-card-title>
                  <h2>{{ post.nome }} {{ post.sobrenome }}</h2>
                </ion-card-title>
              </ion-col>

              <ion-col size="3">
                <ion-item>
                  <ion-button color="danger" (click)="remover(post.id)">X</ion-button>
                </ion-item>                
              </ion-col>
            </ion-row>


            <img src="../../assets/images/delorean.jpg" alt="movie image">
            <!-- <img src={{ post.foto }} alt="movie image"> -->

            <ion-card-content>
              <p>{{ post.descricao }}</p>
            </ion-card-content>

          </ion-list>
        </div>
        
      </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/post" routerLinkActive="router-link-active"  size="small" color="success">
      <ion-icon name="add" size="small"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
