<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Network
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
      <ion-item>

        <div id="container">
          <ion-list *ngFor="let post of posts">
            <!-- <ion-avatar>
              <img src="../../assets/images/marty-mcfly.jpg" alt="avatar image" />
            </ion-avatar> -->

            <ion-card-title>
              <h2>{{ post.nome }} {{ post.sobrenome }}</h2>
            </ion-card-title>

            <ion-item>
              <ion-button color="danger" (click)="remover(post.id)">X</ion-button>
            </ion-item>

            <img src="../../assets/images/delorean.jpg" alt="movie image">
            <!-- <img src={{ post.foto }} alt="movie image"> -->

            <ion-card-content>
              <p>{{ post.descricao }}</p>
            </ion-card-content>

            <ion-row>
              <ion-col size="4">
                <button ion-button icon-left clear small >
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{ post.curtidas }} Likes</div>
                </button>
              </ion-col>
              <ion-col size="4">
                <button ion-button icon-left clear small >
                  <ion-icon name="text"></ion-icon>
                  <div>{{ objeto_feed.qntd_comments }} Comments</div>
                </button>
              </ion-col>
              <ion-col size="4" center text-center>
                <ion-note>
                  {{ objeto_feed.tempo_comment }}
                </ion-note>
              </ion-col>
            </ion-row>

          </ion-list>
        </div>
        
      </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/post" routerLinkActive="router-link-active"  size="small" color="success">
      <ion-icon name="add" size="small"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- <ion-card>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/images/marty-mcfly.jpg" alt="avatar image" />
      </ion-avatar>
      
      <ion-card-title>
        <h2>{{ objeto_feed.nome }}</h2>
      </ion-card-title>
      
    </ion-item>

    <img src="../../assets/images/delorean.jpg" alt="movie image">    

  <ion-card-content>
    <p>{{ objeto_feed.descricao }}</p>
  </ion-card-content>

  <ion-row>
    <ion-col size="4">
      <button ion-button icon-left clear small >
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{ objeto_feed.qntd_likes }} Likes</div>
      </button>
    </ion-col>
    <ion-col size="4">
      <button ion-button icon-left clear small >
        <ion-icon name="text"></ion-icon>
        <div>{{ objeto_feed.qntd_comments }} Comments</div>
      </button>
    </ion-col>
    <ion-col size="4" center text-center>
      <ion-note>
        {{ objeto_feed.tempo_comment }}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card> -->
</ion-content>
