<ion-header>
  <ion-toolbar>
    <ion-title>Formulário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title color="secondary" >
      Formulário:
    </ion-card-title>

    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input [(ngModel)]="nome" type="text" placeholder="Digite seu nome..."></ion-input>    
      </ion-item>

      <ion-item>
        <ion-label>Sobrenome:</ion-label>
        <ion-input [(ngModel)]="sobrenome" type="text" placeholder="Digite seu sobrenome..."></ion-input>    
      </ion-item>

      <ion-item>
        <ion-label>Filmes:</ion-label>
        <ion-input [(ngModel)]="filmes" type="text" placeholder="Seus filmes preferidos são?"></ion-input>    
      </ion-item>

      <ion-item>
        <ion-label>Generos:</ion-label>
        <ion-input [(ngModel)]="generos" type="text" placeholder="Seus generos preferidos são?"></ion-input>    
      </ion-item>
    </ion-list>

     
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="atualizar()" color="success" shape="round">
          Enviar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="voltar()" color="secondary" shape="round">
          Voltar
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-card>
</ion-content>
