ion-slides {
    background: rgb(255,255,255);
    background: linear-gradient(-45deg, rgba(255,255,255,1) 38%, rgba(117,255,253,1) 100%); 

    color: black;
    height: 100%;
}

#images{
  width: 200px;
  margin-left: 22%;
}

#cellphone {
  width: 75px;
}

ion-button{
  margin: 40px 20px 20px 20px;
}