<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moovie app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="filtros">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="onClick()" expand="block" color="dark" shape="round">
            Ficção
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="onClick()" expand="block" color="dark" shape="round">
            Comédia
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="onClick()" expand="block" color="dark" shape="round">
            Terror
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card>
    <img src="../../assets/images/a-origem.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Ficção</ion-card-subtitle>
      <ion-card-title>A origem</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Dom Cobb é um ladrão com a rara habilidade de roubar segredos do inconsciente, obtidos durante o estado de sono... 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image">
    <img src="../../assets/images/as-branquelas.jpeg" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>Comédia</ion-card-subtitle>
      <ion-card-title>As branquelas</ion-card-title>
    </ion-card-header>

  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/images/a-freira.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Terror</ion-card-subtitle>
            <ion-card-title>A freira</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/images/alien.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Terror</ion-card-subtitle>
            <ion-card-title>Alien</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-tabs>
    <ion-tab-bar color="primary" slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="filmes">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="user">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
