<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moovie app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <div id="inputs">
        <ion-item>
          <ion-label>Email: <ion-text color="danger"></ion-text></ion-label>
          <ion-input required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Senha: <ion-text color="danger"></ion-text></ion-label>
          <ion-input required></ion-input>
        </ion-item>
      </div>
      
      <div id="buttons">
        <ion-button (click)="onClick()" color="dark" expand="block" shape="round">
          Entrar
        </ion-button>
      </div>

      <div id="buttons">
        <ion-button (click)="onClick()" color="secondary" expand="block" shape="round">
          Registrar
        </ion-button>
      </div>

    </ion-card>
  </div>
</ion-content>
